<h1>TINY APP</h1>
   

<form method="POST" action="/urls">
    <input class="form-control" type="text" name="uername" placeholder="Username" style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>