<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Register</title>
</head>



<body style="font-size:20px; padding:50px;">
<<<<<<< HEAD
<% include partials/_header %>
=======

<% include partials/_header %><br><br>
>>>>>>> 211b0a468e3120ba83cb23026bf14497f814e313


<!-- Registration Form -->

<%if (user === undefined) {%>
    <h1> Register </h1>
    <br>
    <table>
        <tr>
            <th>
                <form method="POST" action="/register">
                    E-mail:<input class="form-control" type="email" name="email" placeholder="email" style="width: 300px">
                    Password:<input class="form-control" type="password" name="password" placeholder="password" style="width: 300px">
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                </form>
            </th>
        </tr>
    </table>
<%} else {%>
    <p>Already logged in!</p>
<%}%>

</body>
</html>