<!DOCTYPE html>
<html lang="en">
    <head>
    <% include ./partials/_header %>
    </head>
    
    
    
    <body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h1> URL List </h1>
        <%for (var url in urls) {%>
            <ul><%=url%> : <%=urls[url]%></ul>
        <%}%>
    <h2> URL Shortener </h2> 
        <a href='#'>placeholder</a>
</body>
</html>