<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp</title>
    </head>
    
    <% include ./partials/_header %>
    
    <body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h3> Create new URL </h3>
    <a href='#'>placeholder</a>
    
    <h3> Show short URL : <%=shortURL%></h3>
    <form method="POST" action="/urls/<%=shortURL%>/update">
        <button>UPDATE</button>
        <input type="text" value="<%=longURL%>" name="newlongURL">
    </form><br><br>
        
   
</body>
</html>