<!DOCTYPE html>
<html lang="en">
    <head>
    <% include ./partials/_header %>
    </head>
    
    
    
    <body style="font-size:20px; padding:50px;">
    <!-- Add EJS code here -->
    <h3> URL Shortener </h3>
    <a href='#'>placeholder</a>
    
    <h3> URL List </h3>
        <%for (var url in urls) {%>
            <form method="POST" action="/urls/<%=url%>/delete">
            <%=urls[url]%> : <%=url%>
                <button>DELETE</button>
            </ul>
            </form>
        <%}%>

    
        
    
</body>
</html>